@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h2>Thank you for your order. You will be notified of the progress of the order</h2>
<h2>Your order Id is @ViewData["OrderId"]</h2>
